
.button {
    background-color: @secondary-red;
    color: #fff;
    padding: 1rem 3rem;
    text-decoration: none;
    font-weight: @bold-font-weight;
    transition: 0.3s;

    &:hover {
        background-color: @main-red;
    }
}