.dashboard {
  display: flex;
}
.sidebarDiv {
  /* bg color colorpicked from whimsical template */
  background-color: #c3cfd9;
  border: 1px solid black;
  border-top: none;
  width: 20%;
  min-height: 100vh;
}
.filterToolsDiv {
  position: sticky;
  top: 300px;
}
.sidebarNav {
  /* border: 1px solid black; */
  position: sticky;
  top: 75px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  text-decoration: none;
  /* flex-wrap: wrap; */
}
.sidebarNav a {
  margin-bottom: 20px;
}
.navLink {
  color: black;
  text-decoration: none;
  line-height: 24px;
  font-size: 2rem;
}
.navLink:hover {
  color: #BF0033;
}
.helperDashboard {
  width: 85%;
}
.tickettable {
  width: 100%;
  text-align: left;
  padding: 2%;
  border-collapse: collapse;
}
.tickettable > thead {
  color: #788896;
}
tbody td,
thead th {
  padding: 2%;
}
tbody tr {
  border-bottom: 1px solid #788896;
}
td.boldrows {
  font-weight: 600;
}
td a {
  text-decoration: none;
}
th {
  position: sticky;
  top: 70px;
  background: white;
}
