.tickettable {
    width: 100%;
    text-align: left;
    padding: 2%;
    border-collapse: collapse; 
}

.tickettable > thead {
    color: #788896;
    
}

tbody td, thead th {
    padding: 2%;
}

tbody tr {
    border-bottom: 1px solid #788896;;
}

td.boldrows {
    font-weight: 600;
}

td a {
    text-decoration: none;
}